.home{
display: grid;
grid-template-columns: 1fr ;
background-color:white;
margin: 24px auto;
padding: 30px;
padding-right: 90px;
max-width: 655px;
border-radius: 10px;
min-width: 650px;
justify-items: center;
height: 30rem;
min-height: 33rem;
}

.Applogo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from{
    transform: rotate(0deg);
  }to {
    transform: rotate(360deg);
  }
}