.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: black;
  color: white;
  min-width: 10rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  margin-bottom: 2rem;
}

.button:hover,
.button:focus {
  outline: none;
  background: #28a7e9;
}

