.edit{
  width: 680px; 
  grid-gap: 2rem;
  border: solid;
  margin: 55px auto;
  border-radius: 15px;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  margin-bottom: 15rem;
  
  }
  .btn{
    margin-top: 5rem;
    width: 100%;
  }

  .titleCadastro{
    text-align: center;
    padding-bottom: 3rem;
  }
  .imgLogin{
    width:8rem;
    margin-bottom: 1rem;
  }

  .alignProds{
    text-align: -webkit-center;
    padding-top: 4rem;
  }

  .icoIcoProd{
    width:30px;
    cursor: pointer;
  }

  .menu{
    display: flex;
    justify-content: space-between;
  }